<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Assignment</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav"  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
		<mat-nav-list>
			<mat-list-item class="parent" style="cursor: pointer" routerLink="/tree" [routerLinkActive]="['.is-active-tree']" (click)="closeSideNav()">Tree
			</mat-list-item>
			<mat-list-item  class="parent" style="cursor: pointer" routerLink="/moratorium" [routerLinkActive]="['is-active-moratorium']" (click)="closeSideNav()">Moratorium</mat-list-item>
		</mat-nav-list>
		<mat-nav-list>
		</mat-nav-list>
	</mat-sidenav>
  <div class="p-4">
<router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
